<?xml version="1.0" ?>

<robot name="sphere">
    
    <material name="industrial-blue">
        <color rgba="0.113725 0.3450980 0.654901 1" />
    </material>
  
    <link name="sphere">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="sphere.stl" scale="1 1 1"/>
            </geometry>
            <material name = "industrial-blue"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="sphere.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="0.4" ixy="0" ixz="0" iyy="0.4" iyz="0" izz="0.4"/>
        </inertial>
    </link>

</robot>
