<?xml version="1.0" ?>
<robot name="spacecraft">

  <material name="industrial-blue">
    <color rgba="0.11372549019607843 0.34509803921568627 0.6549019607843137 1" />
  </material>

  <material name="arches-blue">
    <color rgba="0.0 0.6235294117647059 0.8313725490196079 1" />
  </material>

  <material name = "heritage-orange">
    <color rgba = "0.96078431 0.50980392 0.11764706 1" />
  </material>

  <link name="world"/>

  <link name="station" concave="yes">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
  			<mesh filename="station.stl" scale="1.0 1.0 4.5"/>
      </geometry>
      <material name = "arches-blue"/>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
  			<mesh filename="station.stl" scale="1.0 1.0 4.5"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1000.0"/>
      <inertia ixx="1000.0" ixy="0" ixz="0" iyy="1000.0" iyz="0" izz="1000.0" />
    </inertial>
  </link>

  <link name="marker1">
    <visual>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
      <material name = "arches-blue"/>
    </visual>
    <collision>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0" />
    </inertial>
  </link>

  <link name="marker2">
    <visual>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
      <material name = "arches-blue"/>
    </visual>
    <collision>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0" />
    </inertial>
  </link>

  <link name="marker3">
    <visual>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
      <material name = "arches-blue"/>
    </visual>
    <collision>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0" />
    </inertial>
  </link>

  <link name="marker4">
    <visual>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
      <material name = "arches-blue"/>
    </visual>
    <collision>
      <geometry>
  			<mesh filename="disc.stl" scale="2.0 2.0 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0" />
    </inertial>
  </link>

  <joint name="world_to_station" type="continuous">
		<parent link = "world" />
		<child link = "station" />
		<origin xyz = "0 0 0" />
		<axis xyz = "0 0 1" />
		<limit effort="1000" velocity="1000"/>
	</joint>

  <joint name="station_to_marker1" type="fixed">
		<parent link="station" />
		<child link="marker1" />
		<origin xyz="0 -20 -1.75" />
	</joint>

  <joint name="station_to_marker2" type="fixed">
		<parent link="station" />
		<child link="marker2" />
		<origin xyz="20 0 -1.75" />
	</joint>

  <joint name="station_to_marker3" type="fixed">
		<parent link="station" />
		<child link="marker3" />
		<origin xyz="0 20 -1.75" />
	</joint>

  <joint name="station_to_marker4" type="fixed">
		<parent link="station" />
		<child link="marker4" />
		<origin xyz="-20 0 -1.75" />
	</joint>

  <link name="bumplink00">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink01">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink02">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink03">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink04">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink05">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink06">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink07">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink08">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink09">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink10">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink11">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink12">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink13">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink14">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink15">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink16">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink17">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink18">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink19">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink20">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink21">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink22">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink23">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink24">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink25">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink26">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink27">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink28">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink29">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink30">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink31">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink32">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink33">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink34">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink35">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink36">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink37">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink38">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink39">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="0.300 0.300 0.040"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="bumplink40">
    <visual>
      <geometry>
        <mesh filename="disc.stl" scale="1.500 1.500 0.030"/>
      </geometry>
      <material name="heritage-orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="disc.stl" scale="1.500 1.500 0.030"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="bumpjoint00" type="fixed">
    <parent link="station"/>
    <child link="bumplink00"/>
    <origin xyz="3.770 -19.641 0.184" rpy="1.571 0.000 0.190"/>
  </joint>
  <joint name="bumpjoint01" type="fixed">
    <parent link="station"/>
    <child link="bumplink01"/>
    <origin xyz="6.893 -18.775 0.074" rpy="1.571 0.000 0.352"/>
  </joint>
  <joint name="bumpjoint02" type="fixed">
    <parent link="station"/>
    <child link="bumplink02"/>
    <origin xyz="9.505 -17.597 0.043" rpy="1.571 0.000 0.495"/>
  </joint>
  <joint name="bumpjoint03" type="fixed">
    <parent link="station"/>
    <child link="bumplink03"/>
    <origin xyz="11.946 -16.040 0.497" rpy="1.571 0.000 0.640"/>
  </joint>
  <joint name="bumpjoint04" type="fixed">
    <parent link="station"/>
    <child link="bumplink04"/>
    <origin xyz="13.996 -14.287 0.456" rpy="1.571 0.000 0.775"/>
  </joint>
  <joint name="bumpjoint05" type="fixed">
    <parent link="station"/>
    <child link="bumplink05"/>
    <origin xyz="15.678 -12.418 0.382" rpy="1.571 0.000 0.901"/>
  </joint>
  <joint name="bumpjoint06" type="fixed">
    <parent link="station"/>
    <child link="bumplink06"/>
    <origin xyz="17.731 -9.253 0.067" rpy="1.571 0.000 1.090"/>
  </joint>
  <joint name="bumpjoint07" type="fixed">
    <parent link="station"/>
    <child link="bumplink07"/>
    <origin xyz="18.719 -7.042 0.359" rpy="1.571 0.000 1.211"/>
  </joint>
  <joint name="bumpjoint08" type="fixed">
    <parent link="station"/>
    <child link="bumplink08"/>
    <origin xyz="19.664 -3.651 0.186" rpy="1.571 0.000 1.387"/>
  </joint>
  <joint name="bumpjoint09" type="fixed">
    <parent link="station"/>
    <child link="bumplink09"/>
    <origin xyz="19.998 -0.313 -0.356" rpy="1.571 0.000 1.555"/>
  </joint>
  <joint name="bumpjoint10" type="fixed">
    <parent link="station"/>
    <child link="bumplink10"/>
    <origin xyz="19.732 3.262 -0.179" rpy="1.571 0.000 1.735"/>
  </joint>
  <joint name="bumpjoint11" type="fixed">
    <parent link="station"/>
    <child link="bumplink11"/>
    <origin xyz="19.059 6.062 -0.442" rpy="1.571 0.000 1.879"/>
  </joint>
  <joint name="bumpjoint12" type="fixed">
    <parent link="station"/>
    <child link="bumplink12"/>
    <origin xyz="18.196 8.301 -0.317" rpy="1.571 0.000 1.999"/>
  </joint>
  <joint name="bumpjoint13" type="fixed">
    <parent link="station"/>
    <child link="bumplink13"/>
    <origin xyz="16.770 10.899 0.003" rpy="1.571 0.000 2.147"/>
  </joint>
  <joint name="bumpjoint14" type="fixed">
    <parent link="station"/>
    <child link="bumplink14"/>
    <origin xyz="15.288 12.895 -0.321" rpy="1.571 0.000 2.272"/>
  </joint>
  <joint name="bumpjoint15" type="fixed">
    <parent link="station"/>
    <child link="bumplink15"/>
    <origin xyz="12.927 15.260 -0.074" rpy="1.571 0.000 2.439"/>
  </joint>
  <joint name="bumpjoint16" type="fixed">
    <parent link="station"/>
    <child link="bumplink16"/>
    <origin xyz="10.261 17.167 0.071" rpy="1.571 0.000 2.603"/>
  </joint>
  <joint name="bumpjoint17" type="fixed">
    <parent link="station"/>
    <child link="bumplink17"/>
    <origin xyz="8.014 18.324 -0.377" rpy="1.571 0.000 2.729"/>
  </joint>
  <joint name="bumpjoint18" type="fixed">
    <parent link="station"/>
    <child link="bumplink18"/>
    <origin xyz="5.432 19.248 -0.274" rpy="1.571 0.000 2.867"/>
  </joint>
  <joint name="bumpjoint19" type="fixed">
    <parent link="station"/>
    <child link="bumplink19"/>
    <origin xyz="1.426 19.949 0.452" rpy="1.571 0.000 3.070"/>
  </joint>
  <joint name="bumpjoint20" type="fixed">
    <parent link="station"/>
    <child link="bumplink20"/>
    <origin xyz="-1.016 19.974 -0.068" rpy="1.571 0.000 3.192"/>
  </joint>
  <joint name="bumpjoint21" type="fixed">
    <parent link="station"/>
    <child link="bumplink21"/>
    <origin xyz="-4.102 19.575 0.041" rpy="1.571 0.000 3.348"/>
  </joint>
  <joint name="bumpjoint22" type="fixed">
    <parent link="station"/>
    <child link="bumplink22"/>
    <origin xyz="-6.842 18.793 -0.295" rpy="1.571 0.000 3.491"/>
  </joint>
  <joint name="bumpjoint23" type="fixed">
    <parent link="station"/>
    <child link="bumplink23"/>
    <origin xyz="-10.911 16.762 -0.406" rpy="1.571 0.000 3.719"/>
  </joint>
  <joint name="bumpjoint24" type="fixed">
    <parent link="station"/>
    <child link="bumplink24"/>
    <origin xyz="-12.559 15.565 -0.227" rpy="1.571 0.000 3.820"/>
  </joint>
  <joint name="bumpjoint25" type="fixed">
    <parent link="station"/>
    <child link="bumplink25"/>
    <origin xyz="-15.153 13.053 -0.254" rpy="1.571 0.000 4.001"/>
  </joint>
  <joint name="bumpjoint26" type="fixed">
    <parent link="station"/>
    <child link="bumplink26"/>
    <origin xyz="-16.352 11.516 0.411" rpy="1.571 0.000 4.099"/>
  </joint>
  <joint name="bumpjoint27" type="fixed">
    <parent link="station"/>
    <child link="bumplink27"/>
    <origin xyz="-18.015 8.686 0.097" rpy="1.571 0.000 4.263"/>
  </joint>
  <joint name="bumpjoint28" type="fixed">
    <parent link="station"/>
    <child link="bumplink28"/>
    <origin xyz="-19.509 4.405 -0.404" rpy="1.571 0.000 4.490"/>
  </joint>
  <joint name="bumpjoint29" type="fixed">
    <parent link="station"/>
    <child link="bumplink29"/>
    <origin xyz="-19.942 1.517 -0.217" rpy="1.571 0.000 4.636"/>
  </joint>
  <joint name="bumpjoint30" type="fixed">
    <parent link="station"/>
    <child link="bumplink30"/>
    <origin xyz="-19.942 -1.523 -0.393" rpy="1.571 0.000 4.789"/>
  </joint>
  <joint name="bumpjoint31" type="fixed">
    <parent link="station"/>
    <child link="bumplink31"/>
    <origin xyz="-19.786 -2.920 -0.479" rpy="1.571 0.000 4.859"/>
  </joint>
  <joint name="bumpjoint32" type="fixed">
    <parent link="station"/>
    <child link="bumplink32"/>
    <origin xyz="-18.729 -7.015 0.070" rpy="1.571 0.000 5.071"/>
  </joint>
  <joint name="bumpjoint33" type="fixed">
    <parent link="station"/>
    <child link="bumplink33"/>
    <origin xyz="-17.841 -9.038 -0.452" rpy="1.571 0.000 5.181"/>
  </joint>
  <joint name="bumpjoint34" type="fixed">
    <parent link="station"/>
    <child link="bumplink34"/>
    <origin xyz="-16.174 -11.765 0.074" rpy="1.571 0.000 5.341"/>
  </joint>
  <joint name="bumpjoint35" type="fixed">
    <parent link="station"/>
    <child link="bumplink35"/>
    <origin xyz="-14.529 -13.745 0.141" rpy="1.571 0.000 5.470"/>
  </joint>
  <joint name="bumpjoint36" type="fixed">
    <parent link="station"/>
    <child link="bumplink36"/>
    <origin xyz="-11.104 -16.634 -0.018" rpy="1.571 0.000 5.695"/>
  </joint>
  <joint name="bumpjoint37" type="fixed">
    <parent link="station"/>
    <child link="bumplink37"/>
    <origin xyz="-8.662 -18.027 -0.290" rpy="1.571 0.000 5.835"/>
  </joint>
  <joint name="bumpjoint38" type="fixed">
    <parent link="station"/>
    <child link="bumplink38"/>
    <origin xyz="-5.588 -19.204 -0.213" rpy="1.571 0.000 6.000"/>
  </joint>
  <joint name="bumpjoint39" type="fixed">
    <parent link="station"/>
    <child link="bumplink39"/>
    <origin xyz="-2.503 -19.843 0.368" rpy="1.571 0.000 6.158"/>
  </joint>
  <joint name="bumpjoint40" type="fixed">
    <parent link="station"/>
    <child link="bumplink40"/>
    <origin xyz="0.000 -20.000 0.000" rpy="1.571 0.000 0.000"/>
  </joint>
  
  


</robot>
