<?xml version="1.0" ?>
<robot name="target">

  <material name="red">
    <color rgba="0.63 0.15 0.05 1"/>
  </material>
  
  <link name="arrow">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
  			<mesh filename="arrow_lin.stl" scale="0.4 0.4 0.5"/>
      </geometry>
      <material name = "red"/>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

</robot>